/* collective geo default map styles */
#default-cgmap, #geosettings-cgmap {height:450px}
#geoshapemap {height:500px;}
.widget-cgmap {height:500px;}
/* openlayers style fix */
.olControlModifyFeatureItemActive {background-position:-1px -23px}
.olControlModifyFeatureItemInactive {background-position:-1px 0px}

/* drop down menus fix */
.actionMenu.activated .actionMenuContent,
#contentActionMenus dl.actionMenu.activated dd{z-index:1008}
/* sunbrust theme fix */
div.olMap img {max-width:none !important}
dl.placemark-properties dt{float:none}
.olFramedCloudPopupContent dt, .olFramedCloudPopupContent dd{margin:0;padding:0;line-height:normal}
.olFramedCloudPopupContent dt{float:left;margin-right:.5em;font-weight:bold}
div.olMapViewport{z-index: 0}
.olLayerGooglePoweredBy{z-index: 700!important}
.olControlAttribution{bottom:13px}
.olPopupContent h2{ margin: 0;padding: 0}
.olPopup {width:40%;}
.olPopup p{margin:0;font-size: .9em}
.olPopup h2{font-size:1.2em}
#content div.olControlZoom a:link  {
    color: white;
}


/* collective.geo forms style */
#coordinates-form #formfield-form-widgets-map_viewlet_position,
#formfield-form-widgets-IGeoFeatureStyle-map_viewlet_position,
#formfield-form-widgets-imgpath,
#formfield-form-widgets-IGeoFeatureStyle-imgpath,
#formfield-form-widgets-map_width,
#formfield-form-widgets-IGeoFeatureStyle-map_width,
#formfield-form-widgets-map_height,
#formfield-form-widgets-IGeoFeatureStyle-map_height,
#formfield-form-widgets-display_properties,
#formfield-form-widgets-IGeoFeatureStyle-display_properties {
    clear:none;float:right;width:47%
}

#formfield-form-widgets-marker_image,
#formfield-form-widgets-IGeoFeatureStyle-marker_image,
#formfield-form-widgets-marker_image_size,
#formfield-form-widgets-IGeoFeatureStyle-marker_image_size,
#formfield-form-widgets-linecolor,
#formfield-form-widgets-IGeoFeatureStyle-linecolor,
#formfield-form-widgets-polygoncolor,
#formfield-form-widgets-IGeoFeatureStyle-polygoncolor,
#formfield-form-widgets-linewidth,
#formfield-form-widgets-IGeoFeatureStyle-linewidth {
    clear:left;float:left;width:47%
}

#formfield-form-widgets-IGeoFeatureStyle-use_custom_styles,
#formfield-form-widgets-use_custom_styles {
    border: 1px solid #999966;
    border-radius: 10px;
    background-color: #FFFFE3;
    padding: 6px 20px
}


#form-buttons-remove-georeference {
    float: right;
}

/* geocoder style */
.geocoder-widget .results {
    background-color: white;
    border: 0.1em solid #CCCCCC;
    margin: 0.2em 0;
    padding: 1em 0;
    position: absolute;
    width: 400px;
    z-index: 3;
}
.geocoder-widget .results a {cursor: pointer}


/*  OpenLayers overrides */
.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .layersDiv {
    background-color: rgba(0, 60, 136, 0.6);
    border-radius: 4px 0 0 4px;
    color: white;
}

.olControlLayerSwitcher .maximizeDiv:after {
    content: '+';
    font-size: 1.5em;
    text-align: center;
    margin-left: 4px;
    line-height: 18px;
}

.olControlLayerSwitcher .maximizeDiv img {
    display: none;
}

.olControlLayerSwitcher .layersDiv label {
    margin-left: 0.5em
}


.olControlEditingToolbar div {
    background-image: url("++plone++openlayers.static/openlayers/theme/default/img/editing_tool_bar.png");
}
