/* drop down menus fix */
.actionMenu.activated .actionMenuContent,
#contentActionMenus dl.actionMenu.activated dd{z-index:1008}
/* sunbrust theme fix */
div.olMap img {max-width:none !important}
dl.placemark-properties dt{float:none}
.olFramedCloudPopupContent dt, .olFramedCloudPopupContent dd{margin:0;padding:0;line-height:normal} 
.olFramedCloudPopupContent dt{float:left;margin-right:.5em;font-weight:bold}
div.olMapViewport{z-index: 0}
.olLayerGooglePoweredBy{z-index: 700!important}
.olControlAttribution{bottom:13px}
.olPopupContent h2{ margin: 0;padding: 0}
.olPopup p{margin:0;font-size: .9em}
.olPopup h2{font-size:1.2em}
/* collective geo default map styles */
#default-cgmap, #geosettings-cgmap {height:450px}
#geoshapemap {height:500px;}
#location-options li a {cursor: pointer}
#location-options li.selected a {color: red!important}
/* openlayers style fix */
.olControlModifyFeatureItemActive {background-position:-1px -23px}
.olControlModifyFeatureItemInactive {background-position:-1px 0px}